/* General*/
*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: #252525 ;
    color: #999999;
    font: 200 14px 'Poppins', sans-serif;   
}
h1{
    background-image: url(./heart.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-position: -15% 46%;
    color: transparent;
    font-size: 70px;
}
h2{
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
p{
    text-align: justify;
}

footer{
    background-color: #1d1d1d;
    height: 55px;
    padding-top: 20px;
    text-align: center;
}
/* Classes and Identifiers*/
#header{
    height: 85px;
    padding-top: 20px;
    text-align: center;
}
.card{
    color: #ffffff;
    font-size: 40px;
    line-height: 40px;
    background-color: #1d1d1d;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
    margin: 20px;
    padding: 10px;
}
