/* General*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #252525;
    color: #999999;
    font: 200 14px 'Poppins', sans-serif;
}
h1{
    color: #ffffff;
    font-size: 70px;
}
h2{
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
p{
    text-align: right;
}

/* Classes and Identifiers*/
#footer {
    background-color: #1d1d1d;
    height: 55px;
    padding-top: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#header{
    height: 85px;
    padding-top: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.card {
    color: #ffffff;
    font-size: 40px;
    line-height: 20px;
    background-color: #1d1d1d;
    border-radius: 15px;
    text-align: center;
    margin: 25px;
    padding: 10px;
    flex-basis: calc(33.33% - 20px); /* Modificar el valor según sea necesario */
    max-width: calc(33.33% - 20px); /* Modificar el valor según sea necesario */
    box-sizing: border-box;
}


@media only screen and (min-width: 768px) {
    /* For tablets and larger devices */
    .card {
        max-width: 450px;
    }
}

@media only screen and (max-width: 767px) {
    /* For smaller devices */
    .card {
        width: 100%;
    }
}
