/* General*/
*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: #252525 ;
    color: #999999;
    font: 200 14px 'Poppins', sans-serif;   
}
h1{
    color: #ffffff;
    font-size: 70px;
}
h2{
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
p{
    text-align: right;
}

/* Classes and Identifiers*/
#footer{
    background-color: #1d1d1d;
    height: 55px;
    padding-top: 20px;
    text-align: center;
}

#header{
    height: 85px;
    padding-top: 20px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card{
    color: #ffffff;
    font-size: 40px;
    line-height: 20px;
    background-color: #1d1d1d;
    border-radius: 15px;
    width: 480px;
    text-align: center;
    margin: 1px;
    padding: 10px 10px;
}
